@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
$black:#191919;
$blue:#3737DE;
$pink:#FE006A;
$sky:#2BAEFD;
$dark:#1F1F1F;
$gray:#4C4C4C;
$green:#43CC6D;
$logowidth: 130px;
$navwidth: 70%;
$langwidth: 10%;
$authwidth: 20%;
$tabH:300px;