@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

$blue:#3737DE;
$pink:#FE006A;
$sky:#2BAEFD;
$dark:#1F1F1F;
$logowidth: 100px;
$navwidth: 60%;
$langwidth: 10%;
$authwidth: 30%;
$tabH:300px;