.title{position:relative; }
h1{
    color:#000;
    position: relative;
    font-size:1.9rem;
    font-weight: 900;
    line-height: 2.2rem;
    padding:0;
    margin:0;
}
h1:before
{   
    content:'';
    display:inline-block;
    vertical-align: middle;
    height:0px;
    padding:2px 0;
    width:70px;
    margin-bottom:0.4rem;
    background:$blue;
    margin-right: 20px;
    
}
h1 span{margin-left:90px;}

h2{
    font-size:1.9rem;
    font-weight: 900;
    line-height: 2.2rem;
}

.white{
    h1{color:#fff!important;}
    h1:before{
        background:#fff!important;
    }
}

 
.hexshadow{
    filter: drop-shadow(0px 0px 25px $blue);
}
.hexagon{
    -webkit-clip-path: url("#myClip");
    clip-path: url("#myClip");
    
}

.inl_m{
    display:inline-block;
    vertical-align: middle;
}

.inl_t{
    display:inline-block;
    vertical-align: top;
}

.one_of_2{
    width:50%;
    font-size: 10px;
    //background:#ddd;
}

.one_of_3{
    width:33.3%;
    font-size: 10px;
    //background:#ddd;
}

.one_of_3_team {
    width: 33.3%;
    font-size: 10px;
    //background:#ddd;
}

.lerner{width:50%;
    display:inline-block;
    vertical-align: middle;
    color:#fff;
    height:auto;
font-size:1.2rem;
line-height:1.7rem;
padding-top:40px;

span{
 //font-size: 5.5rem;
}
}

.one_of_4{
    width:25%;
    font-size:10px;
    //background:#ddd;
}

.one_of_4_doc {
    width: 25%;
    font-size: 10px;
    //background:#ddd;
}

.one_of_6{
    width:calc(100% / 6);
    font-size:10px;
    //background:#ddd;
}

.ma{
    margin:0 auto!important;
}

.solid_b_btn_icon{
    text-transform: uppercase;
    color:#fff;
    border-radius: 3px;
    font-size: 0.7rem;
    padding:5px 20px;
    background:$blue;
    font-weight:900;
    display:inline-block;
    box-shadow: 0px 0px 20px #A4A5E9;
    border:2px solid $blue;
    div{
        display:inline-block;
        vertical-align: middle;
    }
}

.solid_b_btn{
    text-transform: uppercase;
    color:#fff;
    border-radius: 3px;
    font-size: 0.7rem;
    padding:10px 20px;
    background:$blue;
    font-weight:900;
    display:inline-block;
    box-shadow: 0px 0px 20px #A4A5E9;
    border:2px solid $blue;
    a{color:#fff;
    text-decoration: none;}
}

.solid_w_btn{
    text-transform: uppercase;
    color:$blue;
    border-radius: 3px;
    font-size: 0.8rem;
    font-weight: 900;
    padding:8px 30px;
    background:#fff;
    font-weight:700;
    display:inline-block;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
    border:2px solid #fff;
    margin-right:20px;
}

.trans_w_btn{
    text-transform: uppercase;
    color:#fff;
    border-radius: 3px;
    font-size: 0.8rem;
    font-weight: 900;
    padding:8px 30px;
    background:transparent;
    display:inline-block;
    //box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
    border:2px solid #fff;
}

.pink_line{
    background:$pink;
}
.sky_line{
    background:$sky;
}

.pink_text{
    color:$pink;
}

.sky_text{
    color:$sky;
}


.right_50{
    margin-left:40%;
}

.btn_icon{width:30px; height:auto; display:inline-block; vertical-align:middle; margin-right:10px;}

.fluidpic{
width:100%;
height:auto;
}

#fsc1{
    position:absolute;
}

.fcs{
    color:$blue;
    transition: 0.4s all;
}

.colorful{
    color:orange!important;
}
.invis{
    visibility:hidden;
}