//@import url('https://fonts.googleapis.com/css?family=Paytone+One');

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


body,html{
    //overflow-x:hidden;
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    font-family:'Lato';
    //background:#F8F8F8;
    position: relative;
    color:$black;
    
    
}

.allpage{
    position:relative;
    width:100%;
    height: 100%;
    //background: red;
}



.sidesocials{
    position:absolute;
    z-index: 100;
    background:url('../../public/images/soc_bg.png') center center no-repeat;
    background-size: contain;
    right:0px;
    top:100px;
    ul{
        padding: 30px 0;
        margin:0;
        li{
            list-style-type: none;
            a{
                display:block;
                width:20px;
                height:20px;
                //background:green;
                margin:10px 16px;
            }
        }
    }
}
.top_menu{
    position:absolute;
    width:100%;
    z-index: 100;
    //background: coral;
    font-size:0;
}

.logo{
    font-size: 10px;
    width:$logowidth;
}
.top_bar{
    width:calc(100% - #{$logowidth});
    box-sizing: border-box;
    padding:20px 0 20px 0;
    //background: green;
}
.nav{
    font-size: 10px;
    width:$navwidth;
    //background:navy;
    text-align:center;
    ul{
        margin:0;
        padding:0;
        li{
            display:inline;
            margin-left:8%;
            //background:orange;
            a{
                color:$black;
                font-weight:700;
                text-decoration: none;
                font-size: 0.8rem;
            }
        } 
        li:first-child{
            margin-left: 0;
        }
    }
}
.lang{
    //background:coral;
    font-size: 10px;
    width:$langwidth;
    text-align: center;
}
.auth{
    //background:green;
    font-size: 10px;
    width:$authwidth;
    text-align: right;
}


.inner{
    width:1000px;
    margin:0 auto;
    position:relative;
    
}

.inner_hello, .inner_footer{
    width:1000px;
    height:100%;
    margin:0 auto;
    position:relative;
}




.hello{
    width:100%;
    height:100%;
    position: relative;
    background: #fff url('../../public/images/svg/hellobg.svg') center center no-repeat;
    background-size: cover;
}

.hello_box{
    width:50%;
    margin-left:40%;
    position: absolute;
  top: 50%;
  transform: translateY(-50%);
  h1{margin:0; padding:0;
font-size:3rem;
line-height: 3.5rem;
font-weight: 900;}
    h1:before{
        width:0px;
    margin-right: 0px;
    }
}

.hello_anno{
    font-size: 0.8rem;
    line-height: 1.2rem;
    margin:40px 0;
    color:$gray;
    span{color:$blue; text-transform: uppercase; font-weight:900;}
}


.benefits{
    padding:60px 0;
}
 
.all_benefits{
    font-size: 0;
    margin: 0px 0;
    //background:red;
}

.benf_block{
    margin:0px auto;
    width:100%;
    //background:green;
    box-sizing: border-box;
    padding:60px 50px;
    position:relative;
}


.benf_hex{
    width:180px;
    height:180px;
    background:url('../../public/images/svg/benf_hex.svg') center center no-repeat;
    position:absolute;
    z-index:1;
    top:0;
    left:10px;
}

.benf_down{
    margin-top:100px;
}

.benf_cont{
    position:relative;
    z-index:2;
}

.benf_icon{
    width:60px;
    height:60px;
    //background:rgba(255,0,0,0.3);
}

.benf_title{
    text-transform:uppercase;
    font-size: 0.8rem;
    font-weight: 900;
    margin:10px 0;
}

.benf_text{
    font-size: 0.8rem;
    line-height: 1.4rem;
}


.audience{
    background:$blue url('../../public/images/svg/audbg.svg') right bottom no-repeat;
    background-size: contain;
    padding:40px 0;
}

.tabs_block{
    width:100%;
    margin:50px auto;
    box-shadow:0px 20px 30px rgba(0,0,0,0.23);
    border-radius: 10px;
}

.tabs_btns{
    font-size:0;
}

.tab_btn{
    width:calc(25% - 6px);
    background:#F1F1F5;
    text-align: center;
    padding: 15px 10px 30px 10px;
    box-sizing: border-box;
    border-radius: 8px 8px 0 0;
    margin-left:8px;
    box-shadow:inset 0px -20px 20px rgba(0,0,0,0.13);
    //box-shadow:0px 0px 20px rgba(0,0,0,0.53);

    span{
        text-transform:uppercase;
        font-size: 0.8rem;
        font-weight: 900;
        color:$black;
    }
}

.tab_icon{
    width:36px;
    height:36px;
    //background:red;
    display:inline-block;
    margin-right:4px;
}

.active_tab{
    box-shadow:none;
    background:#fff;
}


.tab_btn:first-child{
    margin-left:0;
}

.tabs_window{
    height:calc(#{$tabH} - 10px);
    position:relative;
}
.tab_data{
    height:$tabH;
    width:100%;
    border-radius: 10px;
    background:#fff;
    position:absolute;
    margin-top:-10px;
}

.one_tab_data{
    box-sizing: border-box;
    width:100%;
    height:100%;
    padding:70px 50px;
}

.data_left{
    width:45%;
    font-size: 0.9rem;
    line-height: 1.4rem;
    box-sizing: border-box;
    padding-right:50px;
}

.data_right{
    width:45%;
}


.next_integr{
    padding:50px 0;
}

.scheme{
    width:80%;
    margin:0 auto;
    padding:70px 0;
}

.video{
    padding:50px 0;
    //background: coral;
}

.videobox{
    font-size: 0;
    height: auto;
    position:relative;
    margin:100px 0 100px 0;
    //background:olive;
}

.screen{
    width:60%;
    background:$black;
    height:auto;
    font-size: 10px;
    box-sizing:border-box;
    border-radius: 10px;
    padding:8px;
    box-shadow:0px 0px 20px rgba(0,0,0,0.5);
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	//padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.playlist{
    width:40%;
    height:345px;
font-size: 10px;

}

.all_list{
position:relative;
width:calc(100% - 20px);
height:100%;
box-sizing: border-box;
margin-left:20px;
//border-top:1px solid #eee;
//border-bottom:1px solid #eee;
position:relative;
//padding: 0 5px;
//background:orange;
}

.pl_cont{
    top:0px;
    height:345px;
    width:100%;
    position:absolute;
    //box-shadow: inset 0px 0px 10px rgba(0,0,0,0.4);
    //background:red;
}

.blur_pl_top{
    width:100%;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+23,ffffff+100&1+0,1+23,0+100 */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 23%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 23%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 23%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
height:50px;
    position:absolute;
    top:0px;
}

.list_video{
    font-size: 0;
    margin-bottom:21px;
}

.list_video:last-child{
    margin-bottom:0px;
}

.thumb{width:120px;
height:70px;
background:url('https://i.ytimg.com/vi/uVteeLDOlyk/maxresdefault.jpg') center center no-repeat;
background-size: cover;
border-radius:6px;
//box-shadow: 0px 0px 10px rgba(0,0,0,0.23);
}

.vid_desc{
    width:calc(100% - 120px);
    //background:olive;
    height:70px;
    font-size:10px;
    box-sizing:border-box;
    padding:0px 10px;
}

.vid_title{
    font-size: 15px;
    font-weight: 700;
    margin-bottom:0px;
}

.vid_anno{
    font-size: 14px;
}

.scrollbox{
    border: none;
    //padding: 5px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x:hidden;
}

/* Scrollbar styles */
.scrollbox::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    }
    
    .scrollbox::-webkit-scrollbar-track {
    border: 1px solid #fafbfc;
    border-radius: 10px;
    background:#fafbfc;
    }
    
    .scrollbox::-webkit-scrollbar-thumb {
    background: #ddd;  
    border-radius: 10px;
    }
    
    .scrollbox::-webkit-scrollbar-thumb:hover {
    background: #ddd;  
    }


.safe_smartest{
    background:$blue url('../../public/images/svg/ocamlbg.svg') right bottom no-repeat;
    background-size: contain;
    padding:70px 0;
    color:#fff;
}



.smart_contr_text{
width:50%;
font-size: 0.9rem;
line-height: 1.4rem;
}

.ss_btns{
    margin-top:40px;
}




.using_ocalm{
    padding:100px 0 0px 0;
    background:#F8F8F8;
}
.all_whys{
    font-size: 0;
    margin:60px 0 0 0;
}


.one_why{
    box-sizing: border-box;
    padding: 45px 20px 0 70px;
    position:relative;
    margin:0 0 80px 0;
}

.allw{
    width:140px;
    height:140px;
    background:url('../../public/images/svg/ocalm_hex.svg') center center no-repeat;
    position:absolute;
    top:-8px;
    left:16px;
}

/*
.allw2{
    width:120px;
    height:120px;
    background:#F8F8F8;
    position:absolute;
    top:2px;
    left:26px;
}
*/
.why_num{
    font-size: 1.8rem;
    font-weight: 900;
    color:$blue;
    padding-top:0.4rem;
}

.why_text{
    position: relative;
    font-size: 0.8rem;
    line-height: 1.4rem;
    z-index:3;
    box-sizing: border-box;
    padding-right:30px;
}

.why_title{
    font-size:0.9rem;
    text-transform: uppercase;
    font-weight: 900;
    margin-top:9px;
    //width:150px;
}

.why_a{
    width:40px;
}
.why_b{
    width: calc(100% - 80px);
}

.why_anno{
    margin-left:2px;
    margin-top:10px;
    font-size: 14px;
    width:100%;
}


.fastest{
    padding:50px 0;
    background:#F8F8F8;
}
.inner_glow{
    width:70%;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 100px #E2E2EF;
    margin: 0 auto 100px auto;
    padding:50px;
    background:#F8F8F8;
}

.stats{
    position:relative;
    z-index:1;
    width:100%;
    box-sizing: border-box;
    padding-left: 90px;
    font-size: 0;
    margin:100px 0;
}


.stats_grad{
    position:absolute;
    z-index: 2;
    width:150px;
    height: 100%;
background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(248,248,248,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(248,248,248,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(248,248,248,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f8f8f8',GradientType=1 ); /* IE6-9 */
    
    right:0;
    top:0;
}

.one_stat{
    margin-bottom: 40px;
}

.stat_logo{
    width:50px;
    height:50px;
    //background:red;
}

.stat_graphs{
    margin-left:20px;
 width:calc(100% - 70px);
}

.one_graph{
    margin:10px 0;
}

.graph_text{
    font-size: 12px;
    width:50px;
    text-align: right;
    span{font-size: 1rem; font-weight: 900;}
}
.graph_line{
    height:16px;
    width:calc(100% - 60px);
    margin-left: 10px;
    position:relative;
}

.in_stat_line{
    height: 100%;
    width:50%;
    //background:olivedrab;
}
.in_stat_x{
    width:80%;
    height:1px;
    //background:red;
    position:absolute;
    margin-top:-8px;
}

.stats_legend{
    text-align: right;
    color:$blue;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.6rem;
}

.leg_icon{
    width:14px;
    height:14px;
    border-radius:1000px;
    margin-right: 6px;
}



.leg:last-child{
    margin-left:30px;
}


.devnetwork{
    background:$blue url('../../public/images/svg/selfdev.svg') left bottom no-repeat;
    background-size:cover;
    padding:50px;
}

.all_dev{
    font-size:0;
}
.dev_pic{
    margin-left:75px;
    width:35%;
    //background:red;
    font-size: 10px;
}
.dev_text{
    width:50%;
    font-size:0.9rem;
    line-height: 1.4rem;
    color:#fff;
    padding-top:40px;
    box-sizing: border-box;
    padding-left:30px;
}

.products{
    padding:50px 0;
    background:#f8f8f8;
}
.all_prods{
    font-size: 0;
    margin:50px 0;
}
.side_prods{
    //background: coral;
    width:260px;
    font-size: 10px;
    box-sizing: border-box;
    padding-left:100px;
    ul{margin:0;padding:0;
        li{
            list-style: none;
            margin-bottom:20px;
        } 
        li:last-child{
            margin-bottom: 0;
        }   
    }
}
.prod_icon{
    width:32px;
    height:32px;
    margin-right:10px;
}

.prod_desc{
    color:$blue;
    font-size: 0.7rem;
    font-weight: 400;
}

.prod_pic{
    width:260px;
    height:430px;
    //background: $blue;
    border-radius: 20px;
    //box-shadow:0px 0px 10px rgba(0,0,0,0.5);
    position:absolute;
    right:-20px;
    top:40px;
}

.prod_cont{
    //background:pink;
    width:calc(100% - 400px);
    font-size: 10px;
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 100px;
    position:relative;
}

.prod_cont_box{
    border-radius: 20px;
    box-shadow: 0px 0px 40px #DCDCF4;
    box-sizing: border-box;
    padding:30px;
}

.prod_text{
    color:$blue;
    height:200px;
    font-size: 0.75rem;
    line-height:1.2rem;
    margin-top:20px;
    width:65%;
}

.prod_status{
    //background:coral;
    height:100px;
    width:70%;
    margin:30px 0 50px 0;
}


.status_block{
    margin-bottom:20px;
    font-size: 0;
}

.status_title{
    color:$blue;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 700;
    margin-bottom: 4px;
}

.status_perc{
    width:30px;
    color:$green;
    font-size:0.8rem;
}
.status_line{
    width:calc(100% - 50px);
    color:$green;
    font-size:0.8rem;
}

.status_bar{
    box-sizing: border-box;
    margin-left:20px;
    width:90%;
    height:3px;
    background:#eee;
    position:relative;
}

.status_complete{
    background:$green;
    height: 100%;
}

.prod_btn{
margin-bottom:20px;
}

.docs{
    padding:50px 0;
    background:#F8F8F8;
}

.all_docs{
    font-size: 0;
    margin:30px auto;
    width:80%;
}

.one_doc{
    margin:0 auto 50px auto;
    text-align: center;
    box-sizing: border-box;
    padding: 10px 30px;
    a{
        color:#000;
        text-decoration: none;
        font-size: 0.8rem;
        font-weight: 900;
        text-transform: uppercase;
    }
}

.doc_icon{
    background:url('../../public/images/svg/doc.svg') center center no-repeat;
    background-size: contain;
    width:140px;
    height:140px;
    margin:0 auto;
}


.team{
padding:80px 0;
background:$blue;
}


.all_team{
    font-size: 0;
    margin:40px auto 0 auto;
    width:90%;
}


.one_char{
    box-sizing: border-box;
    margin:0 auto 40px 0;
    width:80%;
    //background:red;
    //height:500px;
}
.char_pic{
    background:url('https://breasiaproductions.com/wp-content/uploads/2015/08/imageplaceholder_02-736x736.jpg') center center no-repeat;
    background-size:cover;
    border-radius: 6px;
    position:relative;
    z-index: 1;
    min-height: 300px;
    box-shadow:0px 0px 20px rgba(0,0,0,0.5);
}
.char_info{
    box-sizing:border-box;
    padding:15px 10px;
    width:100%;
    background:$blue;
    position:absolute;
    z-index:2;
    bottom:-4px;
    border-radius: 0 0 6px 6px;
    font-size: 0;
}

.conts{width:calc(100% - 20px);}

.char_icon{
    width:16px;
    height:16px;
    margin-right:10px;
}

.info_icon{
    width:16px;
    height:16px;
    background: url('../../public/images/svg/team/t_info.svg') center center no-repeat;
    background-size: contain;
}

.ca{
    background: url('../../public/images/svg/team/t_gl.svg') center center no-repeat;
    background-size: contain;
}

.cb{
    background: url('../../public/images/svg/team/t_in.svg') center center no-repeat;
    background-size: contain;
}

.cc{
    background: url('../../public/images/svg/team/t_fb.svg') center center no-repeat;
    background-size: contain;
}

.cd{
    background: url('../../public/images/svg/team/t_inst.svg') center center no-repeat;
    background-size: contain;
}

.char_name{
    margin:20px 0 50px 0;
    color:#fff;
}

.c_name{
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 900;
}

.c_pos{font-size: 0.8rem; font-weight: 700; margin-top:5px; text-transform: uppercase;}


.roadmap{
    padding:50px 0 20px 0;
    background:#f8f8f8;
}
.roadmap_box{
    //background:olive;
    width:700px;
    margin:120px auto 120px auto;
    height: 400px;
    position:relative;
    
    
}

.r_date{
    position:absolute;
    text-shadow: 0px 0px 20px #DBDBF3;
    font-size:9rem;
    font-weight: 900;
    color:#fff;
    top:-100px;
    left:-50px;
    z-index:4;
    
}

.r_tabs{
    position:absolute;
    box-shadow: 0px 0px 20px #DBDBF3;
    width:320px;
    height:80px; 
    border-radius: 20px 20px 0 0;
    top:-60px;
    left:380px;
    background:#fff;
    z-index:1;
    font-size:0;
}

.r_tab{
    text-transform: uppercase;
    width:calc(100% / 4);
    text-align:center;
    font-size: 0.8rem;
    line-height: 60px;
    font-weight: 700;
    color:rgba(0,0,0,0.45);
}

.r_tab_active{
    font-weight:900;
    font-size: 1rem;
    color:$blue;
}

.r_main{
    width:100%;
    height:100%;
    border-radius: 20px;
    background:#fafbfc;
    box-shadow: 0px 0px 100px #DBDBF3;
    box-sizing: border-box;
    position:relative;
    z-index:3;
}

.r_screen{
    width:100%;
    height:100%;
    position:absolute;
    padding:70px;
}

.y_line{
    position:absolute;
    height: 2px;
    width:490px;
    background:#D9D9F9;
    top:9px;
    left:100px;
}
.r_years{
    width:100%;
    text-align:center;
    margin-top:60px;
    position:relative;
    z-index: 5;
    ul{
        margin:0;
        padding:0;
        li{
            display: inline-block;
            width:20px;
            height:20px;
            margin:0 50px;
            background:url('../../public/images/svg/rh_dis.svg') center center no-repeat;
            //opacity:0.3;
            border-radius: 10px;
            position:relative;
            cursor: pointer;
        }
        li.active_y{
            background:url('../../public/images/svg/rh.svg') center center no-repeat;
            //opacity:1;
        }
    }
}

.r_y{
    position:absolute;
    top:-30px;
    margin-left:-30px;
    width:80px;
    text-align:center;
    //background:coral;
    color:#DAD9F8;
}

.active_yt{
    font-weight: 900;
    color:$blue;

}

.news{
    padding:50px 0 100px 0;
    background:#F8F8F8;
}

.all_news{
    font-size: 0;
    margin:50px 0 30px 0 ;
}

.one_new{
    box-sizing:border-box;
    width:80%;
}

.new_pic{
    background: url('https://designshack.net/wp-content/uploads/placeholder-image.png') center center no-repeat;
    background-size: cover;
    height: 150px;
    border-radius: 5px;
}

.new_text{
    margin:10px 0 30px 0;
}

.new_title{
    font-size: 14px;
    font-weight:700;
}
.new_anno{
    color:rgba(0,0,0,0.4);
    font-size:13px;
}

.news_more{
    margin:0px auto 0px auto;
    text-align: center;
}


.partners{
    padding:50px 0;
    background:#F8F8F8;
}

.all_partners{
    font-size: 0;
    margin: 60px 0;
}

.partner_pic{
    background: url('../../public/images/svg/partner.svg') center center no-repeat;
    width:100px;
    height: 100px;
    margin:0 auto 20px;
}

.partner_title{
    text-align: center;
    font-size:16px;
    font-weight: 700;
}

.events{
    padding:50px 0px;
    background:#F8F8F8;
}

.footer{
    //padding:50px 0;
    box-sizing:border-box;
    height: 300px;
    background:$dark url('../../public/images/svg/footer_bg.svg') center center no-repeat;
    background-size: contain;
    color:#fff;
    position:relative;
}
.footer_content{
    position:relative;
    width:100%;
    height:100%;
    //background:rgba(255,0,0,0.4);
}

.footer_blocks{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width:70%;
  margin-left:30%;
  font-size: 0;
  color:#fff;
}

.f_contacts{
width:50%;
font-size: 10px;
box-sizing: border-box;
padding:0 10px;
}

.f_soc{
    width:50%;
    font-size:10px;
    box-sizing: border-box;
    padding:0 10px;
}

.f_title{
    font-size: 2rem;
    font-weight: 900;
    margin-bottom:20px;
}

.f_line{margin-bottom:20px; font-size: 0.8rem;}
.f_line:last-child{margin-bottom: 0;}

.f_icon{width:20px;
height:20px;
//background:olive;
margin-right:5px;
}

.all_f_soc{
    font-size: 0;
}

.f_soc_row{
    margin-bottom:8px;
}

.f_s{
    width:24px;
    height:24px;
    //background:coral;
    margin-right:8px;
}
