.mobile{
    display:none;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 720px){
   .laptop{
       display:none!important;
   }
    .mobile{
       display:block;
   }


   .mobmenu_screen{
       position:fixed;
       width:100%;
       height:100%;
       background:rgba(0,255,0,0.9);
       z-index:100400;
       left:0;
       transition: all 0.5s ease-in-out;
   }

   .hide_nav{
       left:-100%;
   }

      

   .mobilemenu{
       padding:5px 0;
       background:coral;
       position:fixed;
       width:100%;
       z-index:100500;
       font-size: 0;
   }

   .mob_one{
       font-size: 10px;
       width:33.3%;
       display:inline-block;
       vertical-align: middle;
       position:relative;
   }

   .all_langs {
       //background:coral;
       position: absolute;
       //width:140px;
       top: 0px;
       right:0px;
   }
   
   .languagepicker {
       background-color: #fafbfc;
       display: inline-block;
       padding: 0;
       height: 30px;
       overflow: hidden;
       transition: all .3s ease;
       margin: 0 10px 10px 0;
       vertical-align: top;
       //float: right;
       
   }

   .moblogo{
       width:36px;
       height:36px;
       background:olivedrab;
       margin:0 auto;
   }

   .mobburger {
       width: 36px;
       height: 36px;
       background: olivedrab;
       //margin: 0 auto;
       margin-left:10px;
   }
   
    h1 {
        color: #000;
        position: relative;
        font-size: 1.9rem;
        font-weight: 900;
        line-height: 2.2rem;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    h1:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 0px;
        padding: 0px 0;
        width: 0px;
        margin-bottom: 0rem;
        background: $blue;
        margin-right: 0px;

    }

    h1 span {
        margin-left: 0px;
    }
    
    
    html{
        //background:red;
        overflow-x:hidden;
    }
    .inner{
        width:96%;
        margin:0 auto;
    }

    .sidesocials
    {
        display:none;
    }

    .inner_hello,
    .inner_footer {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        position: relative;
    }

    .hello {
        width: 100%;
        height: 100%;
        position: relative;
        background: #fff url('../../public/images/svg/hellomobile.svg') left center no-repeat;
        background-size: contain;
    }

    .hello_box {
        width: 100%;
        margin-left: 0%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        h1 {
            margin: 0;
            padding: 0;
            font-size: 2rem;
            line-height: 2.5rem;
            font-weight: 900;
            text-transform: uppercase;
            text-align: left;

            mytag{
                font-size: 3rem;
            }

            i {
                font-variant: normal;
            }
        }

        h1:before {
            width: 0px;
            margin-right: 0px;
        }
    }

    .hello_anno {
        font-size: 1.4rem;
        line-height: 1.6rem;
        margin: 40px 0;
        color: $gray;

        span {
            color: $blue;
            text-transform: uppercase;
            font-weight: 900;
        }
    }

    .one_of_3{
        width:100%;
    }

    .benefits {
        padding: 60px 0 20px 0;
    }
    .benf_down{
        margin-top:0px;
    }
    .benf_hex {
        width: 100px;
        height: 100px;
    }
    .benf_block {
        margin: 0px auto;
        width: 100%;
        //background:green;
        box-sizing: border-box;
        padding: 20px 20px 30px 40px;
        position: relative;
        background:olive;
    }

    .tab_btn {
        cursor: pointer;
        width: calc(25% - 3px);
        background: #F1F1F5;
        text-align: center;
        margin-left:4px;
        padding: 10px 0px 20px 0px;
    }

    .tab_icon {
        width: 24px;
        height: 24px;
        //background:red;
        display: block;
        margin: 0px auto 5px auto;
    }

    .tab_title {
        display: block;
        text-align:center;
        text-transform: uppercase;
        font-size: 0.55rem;
        font-weight: 900;
        color: $black;
    }

    .active_tab {
        box-shadow: none;
        background: #fff;
    }

    .one_tab_data {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 40px 30px;
    }

    .data_left {
        width: 100%;
        font-size: 0.9rem;
        line-height: 1.4rem;
        box-sizing: border-box;
        padding-right: 10px;
    }

    .smart_contr_text{
        width:100%;
        //padding: 0 20px;
        //box-sizing: border-box;
    }

    .one_of_2{
        width:100%;
    }

    .allw{
        width:90px;
        height:90px;
        top:-13px;
        left:0px;
    }

    .one_why {
        box-sizing: border-box;
        padding: 15px 0px 0 30px;
        position: relative;
        margin: 0 0 80px 0;
    }

    .why_text {
        padding-right: 0px;
    }

    .inner_glow {
        width: 94%;
        border-radius: 20px;
        box-sizing: border-box;
        box-shadow: 0 0 100px #E2E2EF;
        margin: 0 auto 0px auto;
        padding: 50px 10px 20px 20px;
        background: #F8F8F8;
    }

    .stats {
        padding-left: 0px;
        margin: 50px 0;
    }

    .stats_legend {
        margin-right:10px;
    }

    .devnetwork {
        padding: 50px 0;
    }

    .dev_pic {
        margin: 0px auto;
        width: 30%;
        //background:red;
        font-size: 10px;
        display:block;
    }

    .dev_text {
        width: 100%;
        padding-left: 0px;
    }


    .one_of_4_doc{
        width:50%;
    }


    .products_mob{
        padding: 40px 0 0 0;
        background:#fafbfc;
    }
    .inner_prod{
        width:90%;
        position:relative;
        margin:0 auto;
    }

    .all_prods_mob{
        margin:40px auto 0 auto;
    }
    .one_prod_mob{
        //background:coral;
        font-size:10px;
        position:relative;
        margin-bottom:0px;
        border-bottom:1px solid #eee;
    }
    .one_prod_mob:first-child{
        border-top: 1px solid #eee;
    }

    .visible_part{
        background:#fafbfc;
        box-sizing: border-box;
        padding:20px 0px;
    }

    

    .vis_icon{
        width:56px;
        height:56px;
        //background:red;
        margin-left:0px;
    }

    .vis_title{
        margin-left: 10px;
        text-transform: uppercase;
        font-size: 0.9rem;
    }

    .hided_part{
        position:relative;
        height: 450px;
        margin: 0 auto;
        transition: all 0.4s ease-in-out;
    }

    .hided_text {
        position:absolute;
        box-sizing: border-box;
        padding: 0px 5px;
        height: 100%;
        width: calc(100% - 100px);
        //background:coral;
        margin: 0 auto;
        transition: all 0.4s ease-in-out;
    }
    

    .hided_pic{
        position:absolute;
        width:180px;
        right:-90px;
        top:50px;
        height:300px;
        background:rgba(0,255,0,0.3);
        transition: all 0.4s ease-in-out;
    }

    .hide {
        height: 0!important;
        visibility: hidden;
        opacity: 0;
    }

    .prod_text {
        color: $blue;
        height: 200px;
        font-size: 0.75rem;
        line-height: 1.2rem;
        margin-top: 0px;
        width: 100%;
    }


    .all_docs {
        font-size: 0;
        margin: 30px auto;
        width: 80%;
    }

    .one_doc {
        margin: 0 auto 50px auto;
        text-align: center;
        box-sizing: border-box;
        padding: 0px;

        a {
            color: #000;
            text-decoration: none;
            font-size: 0.8rem;
            font-weight: 900;
            text-transform: uppercase;
        }
    }

    .doc_icon {
        background: url('../../public/images/svg/doc.svg') center center no-repeat;
        background-size: contain;
        width: 70px;
        height: 70px;
        margin: 0 auto;
    }



    .all_team {
        font-size: 0;
        margin: 40px auto 0 auto;
        width: 100%;
    }

    .one_of_3_team {
        width: 50%;
        font-size: 10px;
    }

    .one_char {
        margin: 5px auto 100px auto;
        width: 95%;
        position: relative;
        height: 230px;
    }

    .char_pic {
        min-height: 230px;
        box-shadow:0px 0px 10px rgba(0, 0, 0, 0.23);
    }

    .c_name {
        font-size: 0.7rem;
    }

    .c_pos {
        font-size: 0.6rem;
    }

    .lerner {
        width: 50%;
        padding-top:5px;
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        padding-left: 10px;
        color: #fff;
        height: auto;
        font-size: 0.8rem;
        line-height: 1.2rem;
        
    }

    .one_of_6{
        width:33.3%;
        margin-bottom: 30px;
    }

    .footer {
        //padding:50px 0;
        box-sizing: border-box;
        height: 400px;
        background: $dark url('../../public/images/svg/footer_bg.svg') center bottom no-repeat;
        background-size: cover;
        color: #fff;
        position: relative;
    }

    .footer_blocks {
        position: relative;
        //top: 50%;
        //transform: translateY(-50%);
        width: 90%;
        margin: 0 auto;
        font-size: 0;
        color: #fff;
    }

    .f_contacts {
        width: 100%;
        font-size: 10px;
        box-sizing: border-box;
        padding: 0 10px;
        margin-bottom: 50px;
    }

    .f_soc {
        width: 100%;
        font-size: 10px;
        box-sizing: border-box;
        padding: 0 10px;
    }

    .f_title {
        font-size: 1.3rem;
        font-weight: 900;
        margin-bottom: 20px;
    }

    .f_line {
        margin-bottom: 10px;
        font-size: 1rem;
    }

    .f_line:last-child {
        margin-bottom: 0;
    }

}