.mobile{
    display:none;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 720px){
   .laptop{
       display:none!important;
   }
    .mobile{
       display:block;
   }


   .mobmenu_screen{
       position:fixed;
       width:100%;
       height:100%;
       background:rgba(255,255,255,1);
       box-sizing:border-box;
       padding:70px 30px;
       z-index:100400;
       left:0;
       transition: all 0.5s ease-in-out;
   }

   .hide_nav{
       left:-100%;
   }

      

   .mobilemenu{
       padding:5px 0;
       background:#fafbfc;
       border-bottom:1px solid #eee;
       position:fixed;
       width:100%;
       z-index:100500;
       font-size: 0;
   }

   .mob_one{
       font-size: 10px;
       width:33.3%;
       display:inline-block;
       vertical-align: middle;
       position:relative;
   }

   .all_langs {
       //background:coral;
       position: absolute;
       //width:140px;
       top: 0px;
       right:0px;
   }
   
   .languagepicker {
       background-color: #fafbfc;
       display: inline-block;
       padding: 0;
       height: 30px;
       overflow: hidden;
       transition: all .3s ease;
       margin: 0 10px 10px 0;
       vertical-align: top;
       //float: right;

       a{
           color:$blue;
           text-transform: uppercase;
           font-weight: 900;
       }
       
   }

   .moblogo{
       width:36px;
       height:36px;
       //background:olivedrab;
       margin:0 auto;
   }

   .mobburger {
       width: 36px;
       height: 36px;
       //margin: 0 auto;
       margin-left:10px;
   }

   .burgopen{
    background: url('../../public/images/svg/burg.svg') center center no-repeat;
    background-size: cover;
   }
   .burgclose {
       background: url('../../public/images/svg/burgclose.svg') center center no-repeat;
       background-size: cover;
   }
   
    h1 {
        color: #000;
        position: relative;
        font-size: 1.7rem;
        font-weight: 900;
        line-height: 2.0rem;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    h1:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 0px;
        padding: 0px 0;
        width: 0px;
        margin-bottom: 0rem;
        background: $blue;
        margin-right: 0px;

    }

    h1 span {
        margin-left: 0px;
    }

    h2 {
        font-size: 1.7rem;
        font-weight: 900;
        line-height: 2.0rem;
        text-align: center;
    }
    
    
    html{
        //background:red;
        //overflow-x:hidden;
    }
    .inner{
        width:96%;
        margin:0 auto;
    }

    //.hello,
    .sidesocials,
    //.benefits,
    //.audience,
    //.next_integr,
    //.fastest,
    //.safe_smartest,
    //.using_ocalm,
    //.devnetwork,
    //.products_mob,
    //.team,
    //.news,
    //.events,
    //.roadmap
    {
        display:none;
    }

    .inner_hello,
    .inner_footer {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        position: relative;
    }

    .hello {
        width: 100%;
        height: 100%;
        position: relative;
        background: #fff url('../../public/images/svg/hellomobile.svg') left center no-repeat;
        background-size: cover;
    }

    .hello_box {
        width: 100%;
        margin-left: 0%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        h1 {
            margin: 0;
            padding: 0;
            font-size: 2rem;
            line-height: 2.5rem;
            font-weight: 900;
            text-transform: uppercase;
            text-align: left;

            mytag{
                font-size: 3rem;
            }

            i {
                font-variant: normal;
            }
        }

        h1:before {
            width: 0px;
            margin-right: 0px;
        }
    }

    .hello_anno {
        font-size: 1.1rem;
        line-height: 1.3rem;
        margin: 20px 0 30px 0;
        color: $gray;

        span {
            color: $blue;
            text-transform: uppercase;
            font-weight: 900;
        }
    }

    .one_of_3{
        width:100%;
    }

    .all_benefits {
        font-size: 0;
        margin: 40px 0 0 0;
        //background:red;
    }

    .benefits {
        padding: 0px 0 40px 0;
    }
    .benf_down{
        margin-top:0px;
    }
    .benf_hex {
        width: 100px;
        height: 100px;
    }
    .benf_block {
        margin: 0px auto;
        width: 100%;
        //background:green;
        box-sizing: border-box;
        padding: 20px 20px 30px 40px;
        position: relative;
        //background:olive;
    }

    .tab_btn {
        cursor: pointer;
        width: calc(25% - 3px);
        background: #F1F1F5;
        text-align: center;
        margin-left:4px;
        padding: 10px 0px 20px 0px;
    }

    .tab_icon {
        width: 24px;
        height: 24px;
        //background:red;
        display: block;
        margin: 0px auto 5px auto;
    }

    .tab_title {
        display: block;
        text-align:center;
        text-transform: uppercase;
        font-size: 0.55rem;
        font-weight: 900;
        color: $black;
    }

    .active_tab {
        box-shadow: none;
        background: #fff;
    }

    .one_tab_data {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 40px 30px;
    }

    .data_left {
        width: 100%;
        font-size: 0.9rem;
        line-height: 1.4rem;
        box-sizing: border-box;
        padding-right: 10px;
    }

    .safe_smartest {
        background: $blue url('../../public/images/svg/ocamlbg.svg') right bottom no-repeat;
        background-size: contain;
        padding: 30px 0;
        color: #fff;
    }

    .smart_contr_text{
        width:80%;
        margin:20px auto;
        //padding: 0 20px;
        //box-sizing: border-box;
    }



.video {
    padding: 0px 0 30px 0;
    //background: coral;
    .inner{
        width:100%;
    }
}

.videobox {
    font-size: 0;
    height: auto;
    position: relative;
    margin: 30px 0 40px 0;
    //background:olive;
}

.screen {
    width: 100%;
    //background: $black;
    height: auto;
    font-size: 10px;
    box-sizing: border-box;
    border-radius: 0px;
    padding: 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    //padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.playlist {
    width: 100%;
    height: 90px;
    font-size: 10px;
    //display:none;

}

.all_list {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin-left: 0px;
    margin-top:20px;
    //border-top:1px solid #eee;
    //border-bottom:1px solid #eee;
    position: relative;
    //padding: 0 5px;
    //background:orange;
}

.pl_cont {
    top: 0px;
    height: 93px;
    margin-bottom:30px;
    box-sizing: border-box;
    padding:10px 0px;
    width: 100%;
    position: relative;
    //box-shadow: inset 0px 0px 10px rgba(0,0,0,0.4);
    background:#fafbfc;
    border-top:1px solid #eee;
    border-bottom: 1px solid #eee;
}

.list_video {
    font-size: 0;
    margin-bottom: 0px;
    cursor: pointer;
    background:olive;
    width:110px;
    margin-right:20px;
    //height:100px;
    display:inline-block;
    //vertical-align: middle;
}

.list_video:last-child{
    margin-right: 0;
}

.scrollbox {
    border: none;
    //padding: 5px;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    //overflow:scroll;
    white-space: nowrap;
}

.thumb {
    display:block!important;
    width: 110px;
    height: 70px;
    background: red url('https://i.ytimg.com/vi/uVteeLDOlyk/maxresdefault.jpg') center center no-repeat;
    background-size: cover;
    border-radius: 3px;
    //box-shadow: 0px 0px 10px rgba(0,0,0,0.23);
}

.vid_desc {
    width: calc(100% - 120px);
    //background:olive;
    height: 70px;
    font-size: 10px;
    box-sizing: border-box;
    padding: 0px 0px;
    display:none;
}

.vid_title {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0px;
}

.vid_anno {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.54);
}

/* Scrollbar styles */
.scrollbox::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.scrollbox::-webkit-scrollbar-track {
    border: 1px solid #fafbfc;
    border-radius: 10px;
    background: #fafbfc;
}

.scrollbox::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 10px;
}

.scrollbox::-webkit-scrollbar-thumb:hover {
    background: #ddd;
}




    .one_of_2{
        width:100%;
    }

    .allw{
        width:90px;
        height:90px;
        top:-13px;
        left:0px;
    }

    .using_ocalm {
        padding: 50px 0 0px 0;
        background: #F8F8F8;
    }

    .one_why {
        box-sizing: border-box;
        padding: 15px 0px 0 30px;
        position: relative;
        margin: 0 0 80px 0;
    }

    .why_text {
        padding-right: 0px;
    }

    .inner_glow {
        width: 94%;
        border-radius: 20px;
        box-sizing: border-box;
        box-shadow: 0 0 100px #E2E2EF;
        margin: 0 auto 0px auto;
        padding: 50px 30px 30px 30px;
        background: #F8F8F8;
    }

    .stat_logo {
        width: 50px;
        height: 50px;
        //background:red;
        //padding-left:10px;
    }

    .stats {
        padding-left: 0px;
        margin: 50px 0;
    }

    .stats_legend {
        margin-right:10px;
    }

    .devnetwork {
        padding: 50px 0;
    }

    .dev_pic {
        margin: 20px auto;
        width: 30%;
        //background:red;
        font-size: 10px;
        display:block;
    }

    .dev_text {
        width: 80%;
        padding-left: 0;
        //background:red;
        margin:0px auto;
        display:block;
    }


    .one_of_4_doc{
        width:50%;
    }


    .products_mob{
        padding: 40px 0 0 0;
        background:#fafbfc;
    }
    .inner_prod{
        width:100%;
        position:relative;
        margin:0 auto;
    }

    .all_prods_mob{
        margin:40px auto 0 auto;
    }
    .one_prod_mob{
        //background:coral;
        padding:20px;
        font-size:10px;
        position:relative;
        margin-bottom:0px;
        border-bottom:1px solid #eee;
    }
    .one_prod_mob:first-child{
        border-top: 1px solid #eee;
    }

    .visible_part{
        background:#fafbfc;
        box-sizing: border-box;
        padding:0px 0px;
    }

    

    .vis_icon{
        width:56px;
        height:56px;
        //background:red;
        margin-left:0px;
    }

    .vis_title{
        margin-left: 10px;
        text-transform: uppercase;
        font-size: 0.9rem;
        color:$blue;
        width:calc(100% - 110px);
        //background:coral;
    }

    .vis_opcl{
        width:30px;
        height:30px;
        background:url('../../public/images/svg/down.svg') center center no-repeat;
    }

    .hided_part{
        position:relative;
        height: 450px;
        margin: 0 auto;
        box-sizing: border-box;
        transition: all 0.4s ease-in-out;
    }

    .hided_text {
        position:absolute;
        box-sizing: border-box;
        padding: 0px 5px;
        height: 100%;
        width: calc(100% - 100px);
        //background:coral;
        margin: 0 auto;
        transition: all 0.4s ease-in-out;
    }
    

    .hided_pic{
        position:absolute;
        width:140px;
        right:-20px;
        //margin-top:0px;
        height:300px;
        //background:rgba(0,255,0,0.3);
        transition: all 0.4s ease-in-out;
    }

    .hide {
        height: 0!important;
        visibility: hidden;
        opacity: 0;
    }

    .prod_text {
        color: $blue;
        height: 200px;
        font-size: 0.75rem;
        line-height: 1.2rem;
        margin-top: 20px;
        width: 100%;
    }


    .all_docs {
        font-size: 0;
        margin: 30px auto;
        width: 80%;
    }

    .one_doc {
        margin: 0 auto 50px auto;
        text-align: center;
        box-sizing: border-box;
        padding: 0px;

        a {
            color: #000;
            text-decoration: none;
            font-size: 0.8rem;
            font-weight: 900;
            text-transform: uppercase;
        }
    }

    .doc_icon {
        background: url('../../public/images/svg/doc.svg') center center no-repeat;
        background-size: contain;
        width: 70px;
        height: 70px;
        margin: 0 auto;
    }



    .all_team {
        font-size: 0;
        margin: 40px auto 0 auto;
        width: 100%;
    }

    .one_of_3_team {
        width: 50%;
        font-size: 10px;
    }

    .one_char {
        margin: 5px auto 100px auto;
        width: 95%;
        position: relative;
        height: 230px;
    }

    .char_pic {
        min-height: 230px;
        box-shadow:0px 0px 10px rgba(0, 0, 0, 0.23);
    }

    .c_name {
        font-size: 0.7rem;
    }

    .c_pos {
        font-size: 0.6rem;
    }

    .lerner {
        width: 50%;
        padding-top:5px;
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        padding-left: 10px;
        color: #fff;
        height: auto;
        font-size: 0.8rem;
        line-height: 1.2rem;
        
    }



.roadmap {
    padding: 50px 0 120px 0;
    background: #f8f8f8;
}

.roadmap_box {
    //background:olive;
    width: 100%;
    margin: 100px auto 20px auto;
    height: 400px;
    position: relative;
}

.r_date {
    position: absolute;
    text-shadow: 0px 0px 20px #DBDBF3;
    font-size: 2.3rem;
    font-weight: 900;
    //color: #fff;
    color:$blue;
    top: -52px;
    left: 5px;
    z-index: 4;

}

.r_tabs {
    position: absolute;
    box-shadow: 0px 0px 20px #DBDBF3;
    width: 70%;
    height: 80px;
    border-radius: 20px 20px 0 0;
    top: -60px;
    left: 30%;
    background: #fff;
    z-index: 1;
    font-size: 0;
}

.r_screen {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 30px;
    box-sizing:border-box;
}

.y_line {
    position: absolute;
    height: 2px;
    width: 80%;
    background: #D9D9F9;
    top: 9px;
    left: 10%;
}

.r_years {
    width: 100%;
    text-align: center;
    margin-top: 60px;
    position: relative;
    z-index: 5;

    ul {
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin: 0 6%;
            background: url('../../public/images/svg/rh_dis.svg') center center no-repeat;
            //opacity:0.3;
            border-radius: 10px;
            position: relative;
            cursor: pointer;
        }

        li.active_y {
            background: url('../../public/images/svg/rh.svg') center center no-repeat;
            //opacity:1;
        }
    }
}

.r_y {
    position: absolute;
    top: -30px;
    margin-left: -15px;
    width: 50px;
    //background:olive;
    text-align: center;
    //background:coral;
    color: #a19fe0;
}


.partners {
    padding: 50px  0 10px 0;
    background: #F8F8F8;
}

    .one_of_6{
        width:33.3%;
        margin-bottom: 30px;
    }

    .events {
        padding: 0px 0 20px 0;
        background: #F8F8F8;
    }

    .all_events {
        font-size: 0;
        margin: 50px auto 30px auto;
        //background:olive;
    }

.one_event {
    box-sizing: border-box;
    width: 80%;
    //background:red;
    margin:10px auto;
}


    .footer {
        //padding:50px 0;
        box-sizing: border-box;
        height: 400px;
        background: $dark url('') center bottom no-repeat;
        background-size: cover;
        color: #fff;
        position: relative;
    }

    .footer_blocks {
        position: relative;
        //top: 50%;
        //transform: translateY(-50%);
        width: 90%;
        margin: 0 auto;
        font-size: 0;
        color: #fff;
    }

    .f_contacts {
        width: 100%;
        font-size: 10px;
        box-sizing: border-box;
        padding: 0 10px;
        margin-bottom: 50px;
    }

    .f_soc {
        width: 100%;
        font-size: 10px;
        box-sizing: border-box;
        padding: 0 10px;
    }

    .f_title {
        font-size: 1.3rem;
        font-weight: 900;
        margin-bottom: 20px;
    }

    .f_line {
        margin-bottom: 10px;
        font-size: 1rem;
    }

    .f_line:last-child {
        margin-bottom: 0;
    }

}