.pavlo{
    background:url('../../public/images/faces/01.jpg') center center no-repeat;
    background-size:cover;  
}

.boris{
    background: #fafbfc url('../../public/images/faces/02.png') center center no-repeat;
    background-size:cover;  
}

.lin{
    background: #fafbfc url('../../public/images/faces/03.png') center center no-repeat;
    background-size:cover;  
}

.olex{
    background: #fafbfc url('../../public/images/faces/16.png') center center no-repeat;
    background-size:cover;  
}

.dan{
    background: #fafbfc url('../../public/images/faces/04.jpg') center center no-repeat;
    background-size:cover;  
}

.dyryc{
    background: #fafbfc url('../../public/images/faces/05.jpg') center center no-repeat;
    background-size:cover;  
}

.ira{
    background: #fafbfc url('../../public/images/faces/06.png') center center no-repeat;
    background-size:cover;  
}

.hayk{
    background: #fafbfc url('../../public/images/faces/07.jpg') center center no-repeat;
    background-size:cover;  
}

.nastya{
    background: #fafbfc url('../../public/images/faces/08.jpg') center center no-repeat;
    background-size:cover;  
}

.snizhana{
    background: #fafbfc url('../../public/images/faces/09.jpg') center center no-repeat;
    background-size:cover;  
}

.svyat{
    background: #fafbfc url('../../public/images/faces/10.jpg') center center no-repeat;
    background-size:cover;  
}

.vitaly{
    background: #fafbfc url('../../public/images/faces/11.jpg') center center no-repeat;
    background-size:cover;  
}

.kd{
    background: #fafbfc url('../../public/images/faces/12.jpg') center center no-repeat;
    background-size:cover;  
}

.nik{
    background: #fafbfc url('../../public/images/faces/13.jpg') center center no-repeat;
    background-size:cover;  
}

.evgen{
    background: #fafbfc url('../../public/images/faces/14.jpg') center center no-repeat;
    background-size:cover;  
}

.levenec{
    background: #fafbfc url('../../public/images/faces/15.jpg') center center no-repeat;
    background-size:cover;  
}